.example-radio-group {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // margin: 150px 0;
  }

.example-radio-group :nth-child(10){

}  
.radio-button-container{
    
    // width: 100%;
    // overflow-wrap: break-word;
}
.wrap-mat-radio-label {
    font-family: OpenSans;
    white-space: normal;
    font-size: 15px;
}

// .radio-button-inline-with-text{
//     just
// }